<nav>
    <div class="site-title">
        <a href="/"><h1>Mi blog de cosas</h1></a>
        <p>El mejor blog de la historia</p>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">Nuevo</a></li>
        <li><a href="/update">Update</a></li>
    </ul>
</nav>