<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="content not-found">
        <p>¡OPSIE! :S</p>
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>